<ion-view view-title="{{game}}">
  <ion-content class="padding center">
    <ion-list class="card">
      <ion-item class="item" ng-repeat="stream in streams | limitTo:20">
        <a href="#/tab/games/{{game}}/{{stream.channel.name}}">
          <img ng-src="{{stream.preview.medium}}">
        </a>
        <p><b>{{stream.channel.display_name}}</b>
          <span class="item-note">
            {{stream.viewers}} <i class="ion-eye"></i>
          </span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
